@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
/* https://coolors.co/6d5acf-ffffff-000000-f78e69-00a896 */
html {
    background-color: #6d5acf;
}
body {
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    color: #000;
    padding: 0.5em;
}

.hidden {
    visibility: hidden;
}

div.top-left-menu {
    float: left;
    width: 6em;
}

div.initial-display {
    background-color: #0099cc;
    color: #fff;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}
div.initial-display img {
    max-width: 2em;
    max-height: 2em;
}

div.letter-display {
    /*font-family: 'Courier New', Courier, monospace;*/
    background-color: #003399;
    color: #fff;
    width: 2em;
    height: 2em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}

td.letter-display {
    width: 3em;
}

table.crossword-table {
    table-layout: fixed;
}
.crossword-table th,
.crossword-table td {
    max-width: 340px;
    text-overflow: ellipsis;
}

.cell-container {
    text-overflow: ellipsis;
    max-width: 280px;
    padding: 0px;
    margin: 0px;
    /*text-wrap: nowrap;*/
    overflow-x: clip;
}

.loading {
    color: #999;
    font-style: italic;
    cursor: wait;
}

/*td.initial-display {
    width: 3em;
}*/

div.name-display {
    color: #666;
    font-style: italic;
}

table.neat * {
    overflow: hidden;
    text-overflow: ellipsis;
}

#tracks-table div.initial-display {
    display: none;
}

#search-results-container {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

#search-results-container li.validating {
    cursor: no-drop;
    max-height: 2em;
    overflow-y: hidden;
}
#search-results-container li a.validating {
    color: #666;
    cursor: no-drop;
}

#search-results-container li.valid {
    cursor: auto;
    max-height: 2em;
    overflow-y: hidden;
}
#search-results-container li.valid a {
    color: #003399;
    cursor: pointer;
}
#search-results-container li.invalid {
    cursor: no-drop;
    display: none;
}
#search-results-container li.invalid a {
    font-style: italic;
    color: #ccc;
    text-decoration: line-through;
    cursor: no-drop;
}
.step-done {
    font-style: italic;
    color: #009933;
    text-decoration: line-through;
}
.step-explain {
    font-style: italic;
    color: #666;
}

.accordion-button.collapsed {
    font-weight: normal;
    color: var(--bs-light);
    background-color: var(--bs-secondary);
}
.accordion-button:not(.collapsed) {
    font-weight: bold;
    color: var(--bs-light);
    background-color: var(--bs-primary);
}
div.accordion-collapse.show {
    border-color: var(--bs-accordion-active-bg);
    border-width: 1px;
    border-style: solid;
    padding: 1em;
}

/* Crossword styling */
div.crossword-container {
    text-align: center;
}
table.crossword-grid {
    margin: auto;
    border: #333 2px solid;
}
tr.crossword-grid-row {
    height: 2em;
    vertical-align: middle;
}
td.black-square {
    background-color: #000;
}
td.crossword-grid-square {
    width: 2em;
    border: #333 1px solid;
    padding: 4px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
}
td.crossword-grid-square.ui-select,
tr.ui-select.clue-row > td {
    background-color: #ffff80;
    border: #555 1px solid;
}
div.clue-number {
    float: left;
    font-size: 50%;
    position: absolute;
}
td.few-matches {
    background-color: rgba(255, 200, 0, 0.5);
}
td.no-matches {
    background-color: rgba(255, 0, 0, 0.5);
}
td.conflict .letter-holder {
    color: #ff0000;
    font-style: italic;
}
table.clue-grid {
    margin: auto;
    width: 90%;
    border: #333 2px solid;
}
tr.clue-orientation-header {
    background-color: #333;
    color: #fff;
    font-weight: bold;
    text-align: center;
}
/*#new-clue__Trigger {
  position: absolute;
  margin-top: -8px;
}*/
span.letter-holder {
    cursor: default;
}

/* Candidate word list */
div.word-list-row {
    max-height: 32em;
    overflow-y: auto;
}
table.word-list {
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
    font-size: 125%;
    text-align: center;
}
table.word-list th {
    position: sticky;
    top: 0;
}
table.word-list td.suggested-word-list-item {
    cursor: pointer;
}

/* Clue List */
#clue-list tr.clue-row {
    border-top: #000 1px solid;
}
#clue-list td.clue-number {
    width: 3em;
    text-align: right;
    padding-right: 0.5em;
    border-right: #000 1px dotted;
}
#clue-list td.clue-question {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/* Menus */
ul.context-menu {
    box-shadow: 5px 5px 10px 1px #000000;
    border: #f78e69 2px solid;
}
ul.context-menu li:hover,
ul.context-menu a:hover {
    background-color: #00a896;
}

/* AJAX cue */
#ajaxCue {
    min-height: 4px;
    height: 4px;
    max-height: 4px;
    background-color: #fff;
    border: none; /*#ccc 1px dotted;*/
}
#ajaxCount {
    height: 100%;
    background-color: #f78e69;
    display: inline-block;
    width: 0px;
}

/* Google signin bits */
.g-signin2 > div {
    margin: auto;
}

/* Debug pane */
#debug-info {
    max-height: 10em;
    overflow-y: auto;
    text-wrap: wrap;
}
#debug-info .alert {
    padding: 4px;
    margin: 0px;
    border-radius: 0px;
    --webkit-border-radius: 0px;
}
.php-toast {
    display: none;
}
input#answer-entry {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 250%;
}
.anagram-results-container {
    max-height: 12em;
    overflow-y: scroll;
}
